@charset "UTF-8";

/* 
pequenas telas até 600px
celular – de 600px até 768px
Tablets – 768px - 992px
Desktops – 992px — 1200px
telas grandes – acima de 1200px
*/

@media print { /* IMPRESSÃO */
*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-image: url(../imagens/back-print.jpg);/* Desnecessário */

}

main{
    border: 2px solid black;
}

main::after{
    content: 'Essa impressão foi feita por marcelo carvalho';
    text-decoration: underline;
}

main h1{
    text-shadow: none;
    color: black;
}

img#phone{ display: none;}
img#tablet{ display: none;}
img#print{display: block;}
img#pc{display: none;}
img#tv{display: none;}
}

@media screen and (min-width: 768px) and (max-width: 992px) { /* TABLET*/
body{
        background-image: url(../imagens/back-tablet.jpg);
}

img#phone{ display: none;}
img#tablet{ display: block;}
img#print{display: none;}
img#pc{display: none;}
img#tv{display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* DESKTOP*/
body{
        background-image: url(../imagens/back-pc.jpg);
}

img#phone{ display: none;}
img#tablet{ display: none;}
img#print{display: none;}
img#pc{display: block;}
img#tv{display: none;}
}

@media screen and (min-width: 1200px) { /* GRANDES TELAS*/
body{
    background-image: url(../imagens/back-tv.jpg);
}

main{
    width: 700px;
}

img#phone{ display: none;}
img#tablet{ display: none;}
img#print{display: none;}
img#pc{display: none;}
img#tv{display: block;}
}